* {
  box-sizing: border-box;
}

body,
button,
input,
select {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.el-box {
  padding: 10px;
  margin-bottom: 10px;
}

.el-button {
  display: inline-block;
  padding: 0 0.8em;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  height: initial;
  font-size: 1em;
  line-height: 2em;
  white-space: nowrap;
  cursor: pointer;
  z-index: 0;
  text-shadow: none;
  border: 1px solid #1c121c;
  color: #b899b6;
  background-color: #422a40;
  background-image: linear-gradient(#482e46, #422a40);
  border-radius: 3px;
}
.el-button:hover {
  color: #e2d5e1;
  background-image: linear-gradient(#4e324c, #482e46);
}
.el-button:focus {
  outline: none;
  border-color: #ef53e6;
  box-shadow: 0 0 0 1px #ef53e6;
}
.el-button:active {
  background: #352234;
  border-color: #974A9E;
  box-shadow: 0 0 0 1px #974A9E;
}

.el-button-group {
  position: relative;
  display: inline-flex;
}
.el-button-group > .el-button:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.el-button-group > .el-button + .el-button {
  border-radius: 0;
  margin-left: -2px;
  z-index: 0;
}
.el-button-group > .el-button:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.el-button-group > .el-button:active,
.el-button-group > .el-button:focus {
  z-index: 1;
}

.el-list {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
  font-size: 1em;
  line-height: 2em;
  color: #b899b6;
  background-color: #261725;
}
.el-list li.el-list-item,
.el-list li.el-list-option {
  white-space: nowrap;
  line-height: 2em;
  padding: 0 0.6em;
}
.el-list .el-list-option {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1c121c;
}

el-icon {
  display: inline-flex;
  align-self: center;
  top: 0.125em;
  position: relative;
}

.el-index {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}
.el-index li {
  height: 2em;
}
.el-index li[role=group] {
  height: auto;
}
.el-index > li[role=group] ul {
  padding-left: 1em;
}
.el-index summary:active {
  outline: none;
}
.el-index details ul {
  display: block;
}
.el-index ul, .el-index li, .el-index details {
  margin: 0;
  padding: 0;
  list-style: none;
}
.el-index summary:focus {
  outline: none;
}
.el-index summary:focus:before {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  right: 0;
  height: 2em;
  background-color: #ef53e6;
  content: "";
}
.el-index summary,
.el-index li > span,
.el-index li > a {
  cursor: arrow;
  user-select: none;
  white-space: nowrap;
  line-height: 2em;
  padding: 0 0.6em;
}

.el-m-micro {
  font-size: 0.8em;
}

.el-tree,
.el-tree ul,
.el-tree li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.el-tree {
  width: 100%;
  margin: 0 0 1em;
  text-align: center;
}

.el-tree,
.el-tree ul {
  display: table;
}

.el-tree ul {
  width: 100%;
}

.el-tree li {
  display: table-cell;
  padding: 0.9em 0;
  vertical-align: top;
}

/* _________ */
.el-tree li:before {
  background-color: currentColor;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: -2px;
  height: 1px;
}

.el-tree li:first-child:before {
  left: 50%;
}

.el-tree li:last-child:before {
  right: 50%;
}

.el-tree span {
  border: 1px solid currentColor;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.2em 1em;
  padding: 0 0.6em;
  vertical-align: middle;
  position: relative;
  height: 2em;
  line-height: 2em;
}

/* | */
.el-tree ul:before,
.el-tree span:before {
  background-color: currentColor;
  content: "";
  height: 0.9em;
  left: 50%;
  top: 0;
  position: absolute;
  width: 1px;
}

.el-tree ul:before {
  top: -1em;
}

.el-tree span:before {
  top: -1em;
}

/* The root node doesn't connect upwards */
.el-tree > li {
  margin-top: 0;
}

.el-tree > li:before,
.el-tree > li:after,
.el-tree > li > span:before {
  background-color: transparent;
}

.el-badge {
  display: inline-flex;
  align-items: center;
  font-size: 1em;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
  background-color: #ef53e6;
  color: #e2d5e1;
  border-radius: 12px;
}

.el-status {
  display: inline-flex;
  align-items: center;
  font-size: 1em;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
  background-color: #261725;
  color: #ef53e6;
}

.el-m-selected {
  color: #e2d5e1;
  background-color: #482e46;
}

.el-m-micro.el-button, .el-m-micro.el-badge, .el-m-micro.el-button-group > .el-button, .el-m-micro.el-list {
  font-size: 0.8em;
}

.el-m-mini.el-button, .el-m-mini.el-badge, .el-m-mini.el-button-group > .el-button, .el-m-mini.el-list {
  font-size: 0.9em;
}

.el-m-midi.el-button, .el-m-midi.el-badge, .el-m-midi.el-button-group > .el-button, .el-m-midi.el-list {
  font-size: 1.5em;
}

/*# sourceMappingURL=ui.css.map */
