.el-badge {
  display: inline-flex;
  align-items: center;
  font-size: 1em;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap;
  background-color: #ef53e6;
  color: #e2d5e1;
  border-radius: 12px;
}
