.el-status {
  display: inline-flex;
  align-items: center;
  font-size: 1em;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap;
  background-color: #261725;
  color: #ef53e6;
}
