el-tab-group,
.el-tab-group {
  width: 100%;
}

el-tab-list,
.el-tab-list {
  height: 2.25em;
  display: flex;
  background-color: var(--color-surface-background);
  border-bottom: 1px solid var(--color-surface-border);
}

el-tab,
.el-tab {
  color: var(--color-txt-secondary);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  user-select: none;
  border-right: 1px solid var(--color-surface-border);
  background-color: var(--color-surface-background);
  box-shadow: 0 1px 0 var(--color-surface-border);
}

el-tab.active,
.el-tab.active {
  background-color: var(--color-surface-panel);
  color: var(--color-text-primary);
  box-shadow: 0 1px 0 var(--color-surface-panel);
}

el-tab::before,
.el-tab::before {
  content: "";
  position: relative;
  width: 4px;
  height: 100%;
}

el-tab.active::before,
.el-tab.active::before {
  background-color: var(--color-surface-alert);
}

el-tab a,
.el-tab a,
el-tab span,
.el-tab span,
el-tab data,
.el-tab data,
el-tab button,
.el-tab button {
  display: block;
}

el-tab a,
.el-tab a,
el-tab span,
.el-tab span,
el-tab data,
.el-tab data {
  margin: 0 0 0 1em;
  pointer-events: none;
}

el-tab span,
el-tab data,
.el-tab span,
.el-tab data {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 1ch;
}

el-tab span:last-child,
el-tab data:last-child,
.el-tab span:last-child,
.el-tab data:last-child {
  margin-right: calc(1em + 4px);
}

el-tab .el-action-close,
.el-tab .el-action-close {
  margin-left: 0.5em;
  margin-right: calc(0.5em + 4px);
 /*visibility: hidden;*/
  background-color: transparent;
  border: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.25em;
}

el-tab:hover .el-action-close,
.el-tab:hover .el-action-close {
  visibility: visible;
}

.el-action-close {
  color: var(--color-text-secondary);
}

el-tab.active .el-action-close line,
.el-tab.active .el-action-close line {
  stroke: var(--color-text-secondary);
}

.el-action-close:hover {
  color: var(--color-text-primary);
  background-color: var(--color-surface-alert);
}

.el-action-close:active {
  opacity: 0.7;
}

/* Should use active or focused modifier */
el-tab-scope .el-box,
.el-tab-scope .el-box {
  background-color: var(--color-surface-panel);
  width: 100%;
  height: 100%;
  overflow: auto;
}
