.el-m-micro {
  &.el-button,
  &.el-button-group > .el-button,
  &.el-list {
    font-size: 0.8em;
  }
}

.el-m-mini {
  &.el-button,
  &.el-button-group > .el-button,
  &.el-list {
    font-size: 0.9em;
  }
}

.el-m-midi {
  &.el-button,
  &.el-button-group > .el-button,
  &.el-list {
    font-size: 1.5em;
  }
}
