@use "../../ui/foundation/global";
@use "../../ui/foundation/typography";
@use "../../ui/foundation/theme";

@use "../../ui/elements/box";
@use "../../ui/elements/button";
@use "../../ui/elements/button-group";
@use "../../ui/elements/list";
@use "../../ui/elements/icon";
@use "../../ui/elements/index";
@use "../../ui/elements/tree";
@use "../../ui/elements/badge";
@use "../../ui/elements/status";
@use "../../ui/elements/tab-group";
@use "../../ui/elements/workspace";
@use "../../ui/elements/text";
@use "../../ui/elements/checkbox";
@use "../../ui/elements/radio";
@use "../../ui/elements/toggle";

@use "../../ui/modifiers/selections";
@use "../../ui/modifiers/sizes";

body {
  background-color: #422a40;
  background-color: #2F1E2D;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

main {
  width: 60%;
  margin: 0 auto;
}

h1, h2 {
  font-weight: normal;
}

.el-index-wrap {
  border: 1px solid black;
  height: 20em;
  overflow: auto;
}

.el-toolbar {
  width: 100%;
  padding: 0;
}

header.el-toolbar {
  border-bottom: 1px solid black;
}

footer.el-toolbar {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.el-toolbar {
  background-color: var(--color-bg-primary);

  // .el-button {
  //   border-top-color: transparent;
  // }

  .el-button:first-of-type,
  .el-button:last-of-type {
    border-radius: 0;
  }
}

.example-body {
  margin: 1em 0;
}
